.table{
    border: 1px solid black;
}
.table-header{
    background-color: black;
    color: white;
}
.column-header{
    cursor: pointer;
}

.table-row{
    display: grid;
}
.table-row p{
    margin: 0;
    padding: 3px 5px;
}